@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800;400;500;700&display=swap');

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: #919497;
  --clr-neutral-300: #3D4954;

  --clr-primary: #213B55;
  --clr-primary-light: hsl(210, 44%, 84%);
  --clr-primary-dark: #2E2F41;

  --clr-accent: #F6AC7A;

  --letter-spacing: 1.6px;

  --ff-primary: 'Syne', sans-serif;

  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.5rem;

  --fw-100: 400;
  --fw-200: 500;
  --fw-300: 700;

  font-family: var(--ff-primary);
  font-weight: var(--fw-100);
  color: var(--clr-neutral-300);
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  letter-spacing: var(--letter-spacing);
}

ul[role="list"],
ol[role="list"],
menu[role="list"] {
  list-style: none;
}

.h1.title {
  font-size: var(--fs-300);
}

.h1.title,
.h2.title {
  font-size: var(--fs-200);
}

/* Utilities */

.title {
  font-weight: var(--fw-300);
  font-size: var(--fs-200);
}

.link {
  font-weight: var(--fw-200);
  font-size: var(--fs-100);
}

.container {
  padding: 13px 1rem;
  max-width: 996px;
  margin: 0 auto;
}

.overlay {
  background-color: rgb(6, 29, 52, 0.4);
}