---
const { title, description, url, label } = Astro.props;
---

<section class="card">
  <strong class="title">{title}</strong>
  <p>{description}</p>
  <a href={url} class="link">
    {label}
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.5 8L13 8M9.5 12L13.5 8L9.5 4" stroke="#2E2F41" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>      
  </a>
</section>

<style>
  a {
    color: inherit;
  }

  .card {
    padding: 19px 36px;
    border: 1.5px solid var(--clr-neutral-300);
    border-radius: 16px;
  }

  .card {
    --animation-duration: 0.5s;
    --link-border-color: var(--clr-neutral-300);
    --link-bg-color: inherit;
    --link-color: var(--clr-primary-dark);

    display: grid;
    gap: 0.5rem;
    transition: 
      background-color var(--animation-duration),
      color var(--animation-duration);
  }

  .card > :last-child {
    color: var(--link-color);
    justify-self: center;
    background-color: var(--link-bg-color);
    border: 1px solid var(--link-border-color);
    border-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    transition: background-color var(--animation-duration);
  }

  @media(min-width: 800px) {
    .card > :last-child {
      justify-self: start;
    }
  }

  .card:hover {
    --link-border-color: var(--clr-accent);
    --link-bg-color: var(--clr-accent);

    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
  }

  .card > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .card > a {
    margin-top: 24px;
  }

  .card path {
    fill: var(--clr-neutral-300);
  }

</style>