---
/**@type {"phone" | "email"} */
const type = Astro.props.type;
const text = Astro.props.text;
const url = Astro.props.url;
---

<div class="action">
  {
    type === "phone" ? (
      <svg
        width="20"
        height="20"
        viewBox="0 0 26 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24.4457 19.0848C24.0786 18.8268 20.0615 16.1557 19.5692 15.8549C19.3547 15.7237 19.0929 15.6596 18.8083 15.6596C18.4412 15.6596 18.0347 15.7664 17.6379 15.9753C17.2513 16.1789 16.0802 16.8453 15.5072 17.1727C15.0024 16.8183 13.8167 15.9101 11.9484 14.0399C10.0918 12.1841 9.17531 10.9886 8.81869 10.4812C9.14531 9.90855 9.81094 8.73743 10.0134 8.35193C10.3971 7.62518 10.4406 6.89955 10.1293 6.41018C9.83721 5.94893 7.17694 1.91468 6.90244 1.53518C6.64406 1.17705 6.18019 0.983551 5.67696 0.983551C5.27983 0.983551 4.85871 1.10355 4.49346 1.3578C4.45821 1.38293 0.928685 3.94193 0.97556 5.3973C1.10571 9.48555 5.07844 14.2901 8.38816 17.6009C11.6979 20.9118 16.5028 24.8857 20.6072 25.0165H20.6409C22.0779 25.0165 24.6039 21.5317 24.6283 21.4972C25.2909 20.5503 25.0494 19.5078 24.4457 19.0848ZM23.4096 20.6235C22.4582 21.9412 21.1074 23.3175 20.5787 23.5144C17.7654 23.3824 13.8178 20.91 9.44868 16.5401C5.07994 12.1699 2.60794 8.22675 2.47744 5.42287C2.66719 4.89262 4.04341 3.53325 5.34916 2.589C5.44591 2.52225 5.56516 2.48362 5.67654 2.48362C5.70126 2.48362 5.72189 2.48587 5.73804 2.48887C6.15991 3.102 8.42454 6.53027 8.83554 7.17112C8.83704 7.23862 8.81419 7.40995 8.68554 7.65447C8.54866 7.9151 8.12229 8.67485 7.51591 9.7376L7.04416 10.5645L7.59129 11.3437C7.99929 11.9231 8.96979 13.1827 10.8872 15.1005C12.8128 17.0268 14.0679 17.9944 14.645 18.4001L15.4243 18.9472L16.2512 18.4747C17.0526 18.0168 18.0208 17.4682 18.3358 17.3028C18.5886 17.1697 18.7614 17.1592 18.8083 17.1592C18.8158 17.1592 18.8222 17.1592 18.8274 17.16C19.4016 17.5203 22.9041 19.8457 23.5224 20.2698C23.5326 20.3298 23.5232 20.4603 23.4096 20.6235ZM16.0899 9.82462C16.1867 9.9225 16.3228 9.98217 16.474 9.97804L16.7485 9.97165C16.7537 9.97165 16.7574 9.96942 16.7635 9.96907L22.1424 9.99267C22.4451 9.98554 22.6959 9.73504 22.7031 9.43164L22.7034 9.0469C22.6577 8.6899 22.3768 8.48064 22.0738 8.48739L18.5229 8.47802L24.6624 2.34677C24.9553 2.05389 24.9553 1.57875 24.6624 1.28587C24.3695 0.993371 23.8948 0.993371 23.6019 1.28587L17.4455 7.434L17.4662 3.8051C17.4729 3.50212 17.2326 3.23812 16.9296 3.24525L16.5448 3.2456C16.2411 3.2531 15.9902 3.4335 15.9838 3.7365L15.9684 9.15075C15.9684 9.15597 15.989 9.15972 15.989 9.16497L15.959 9.43947C15.956 9.59172 15.9916 9.7271 16.0899 9.82462Z"
          fill="black"
        />
      </svg>
    ) : type === "email" ? (
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 4.5H3C2.60218 4.5 2.22064 4.65804 1.93934 4.93934C1.65804 5.22064 1.5 5.60218 1.5 6V18C1.5 18.3978 1.65804 18.7794 1.93934 19.0607C2.22064 19.342 2.60218 19.5 3 19.5H21C21.3978 19.5 21.7794 19.342 22.0607 19.0607C22.342 18.7794 22.5 18.3978 22.5 18V6C22.5 5.60218 22.342 5.22064 22.0607 4.93934C21.7794 4.65804 21.3978 4.5 21 4.5ZM19.35 6L12 11.085L4.65 6H19.35ZM3 18V6.6825L11.5725 12.615C11.698 12.7021 11.8472 12.7488 12 12.7488C12.1528 12.7488 12.302 12.7021 12.4275 12.615L21 6.6825V18H3Z"
          fill="black"
        />
      </svg>
    ) : (
      ""
    )
  }
  <a href={url}>{text}</a>
</div>

<style>
  .action {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 1rem;
  }

  .action a {
    color: inherit;
    text-decoration: none;
    width: 150px;
  }

  .action svg {
    width: 20px;
    height: 20px;
  }

  .action svg path {
    fill: var(--clr-neutral-100);
  }
</style>
